<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle|default("Strona z memami") }}</title>
    <link rel="stylesheet" href="style.css">
       <style>
		.banner {
			background-color: #2d2d2d;
			color: #fff;
			padding: 20px;
			text-align: center;
			font-size: 24px;
			font-weight: bold;
		}
        .left-banner {
            height: 100%;
			position: fixed;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
            background-color: #2d2d2d;
			color: #fff;
			padding: 20px;
			text-align: center;
			font-size: 24px;
			font-weight: bold;
            z-index: 1;
		}
		
		.right-banner {
			position: fixed;
            height: 100%;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			background-color: #2d2d2d;
			color: #fff;
			padding: 20px;
			text-align: center;
			font-size: 24px;
			font-weight: bold;
            z-index: 1;
		}
	</style>
  
</head>

<body style="background-color: #653075;  z-index: 2;">

    <div class="left-banner ">
        <p>Rodomo.hh Streng geheim!</p>
        <div style="background-color: #2d2d2d;">
        <a href="login">Loguj</a><br/>
        <a href="register">Rejestracja</a><br/>
        <a href="admin">Admin Panel</a><br/>
        <a href="upload">Dodaj Mema</a>
    </div>
        <a href="http://localhost/ProjektJakisTam/pub/">
    </div>
    	<div class="banner">
            <p>Rodomo.hh</p>
            <img src="2.png" width="310" height="200">
        </div>
    </a>
    
